apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "robot-operator.fullname" . }}-manager-role
  labels:
  {{- include "robot-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - multicluster.x-k8s.io
  resources:
  - serviceexports
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - buildmanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - buildmanagers/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - buildmanagers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - discoveryservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - discoveryservers/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - discoveryservers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - launchmanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - launchmanagers/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - launchmanagers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - metricsexporters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - metricsexporters/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - metricsexporters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotdevsuites
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotdevsuites/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotdevsuites/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotides
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotides/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotides/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robots
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - robots/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robots/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotvdis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotvdis/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - robotvdis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - rosbridges
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - rosbridges/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - rosbridges/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - workspacemanagers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - robot.roboscale.io
  resources:
  - workspacemanagers/finalizers
  verbs:
  - update
- apiGroups:
  - robot.roboscale.io
  resources:
  - workspacemanagers/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "robot-operator.fullname" . }}-manager-rolebinding
  labels:
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: robot-operator
    app.kubernetes.io/part-of: robot-operator
  {{- include "robot-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "robot-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "robot-operator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'