apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: {{ include "robot-operator.fullname" . }}-mutating-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "robot-operator.fullname" . }}-serving-cert
  labels:
  {{- include "robot-operator.labels" . | nindent 4 }}
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-robotide
  failurePolicy: Fail
  name: mrobotide.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - robotides
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-robotvdi
  failurePolicy: Fail
  name: mrobotvdi.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - robotvdis
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-workspacemanager
  failurePolicy: Fail
  name: mworkspacemanager.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - workspacemanagers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-buildmanager
  failurePolicy: Fail
  name: mbuildmanager.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - buildmanagers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-launchmanager
  failurePolicy: Fail
  name: mlaunchmanager.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - launchmanagers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-robot
  failurePolicy: Fail
  name: mrobot.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - robots
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: '{{ include "robot-operator.fullname" . }}-webhook-service'
      namespace: '{{ .Release.Namespace }}'
      path: /mutate-robot-roboscale-io-v1alpha1-discoveryserver
  failurePolicy: Fail
  name: mdiscoveryserver.kb.io
  rules:
  - apiGroups:
    - robot.roboscale.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - discoveryservers
  sideEffects: None