---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: robotvdis.robot.roboscale.io
spec:
  group: robot.roboscale.io
  names:
    kind: RobotVDI
    listKind: RobotVDIList
    plural: robotvdis
    singular: robotvdi
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RobotVDI is the Schema for the robotvdis API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RobotVDISpec defines the desired state of RobotVDI
            properties:
              ingress:
                type: boolean
              nat1to1:
                description: NAT1TO1 for Neko.
                type: string
              privileged:
                type: boolean
              resolution:
                default: 1920x1080
                description: VDI screen resolution options.
                enum:
                - 2048x1152
                - 1920x1080
                - 1600x1200
                type: string
              resources:
                description: VDI resource limits.
                properties:
                  cpu:
                    pattern: ^([0-9])+(m)$
                    type: string
                  gpuCore:
                    type: integer
                  memory:
                    pattern: ^([0-9])+(Mi|Gi)$
                    type: string
                type: object
              serviceType:
                default: NodePort
                description: ServiceType
                enum:
                - ClusterIP
                - NodePort
                type: string
              webrtcPortRange:
                pattern: ^([0-9])+-([0-9])+$
                type: string
            type: object
          status:
            description: RobotVDIStatus defines the observed state of RobotVDI
            properties:
              ingressStatus:
                properties:
                  created:
                    type: boolean
                type: object
              phase:
                type: string
              podStatus:
                properties:
                  created:
                    type: boolean
                  ip:
                    type: string
                  phase:
                    description: PodPhase is a label for the condition of a pod at
                      the current time.
                    type: string
                type: object
              pvcStatus:
                properties:
                  created:
                    type: boolean
                type: object
              serviceTCPStatus:
                properties:
                  created:
                    type: boolean
                type: object
              serviceUDPStatus:
                properties:
                  created:
                    type: boolean
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
